p {
    background-color: rgb(117, 117, 223);
}

a {
    background-color: rgb(226, 248, 34);
}

div {
    background-color: rgb(222, 68, 97);
}

span {
    background-color:rgb(206, 100, 206);
}